<%= form_for @conn, Routes.post_path(@conn, :index), [method: :get], fn f -> %>
  <%= search_input f, :query %>
  <%= submit "Search" %>
<% end %>


<table>
  <tbody>
  <%= for post <- @posts do %>
    <tr>
      <td>
        <%= post.title %><br>
        <%= post.authors %><br>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
